.videoCard {
  margin-bottom: 40px;
  width: 290px;
}
.videoCard__thumbnail {
  height: 160px;
  width: 270px;
}

.videoCard__info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}

.videoCard__text {
  margin-left: 15px;
}

.videoCard__text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.videoCard__text > p {
  font-size: 14px;
  margin: 0px 0px;
  color: gray;
}

.videoCard__avatar {
  height: 30px !important;
  width: 30px !important;
}
